﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("index", "PuzzleGenerator", FormMethod.Post))
{

    <div class="form-horizontal" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">

        <div class="form-group">
            <label class="control-label col-md-2" for="EnterWords">Enter Words seprated with ',' :</label>
            <div class="col-md-10">
                <textarea name="Words" class="form-control" id="Words" rows="3">@ViewData["Sample"]</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Generate" class="btn btn-default" />
            </div>
        </div>
        @if (ViewBag.IsGenerated)
        {
            <table class="table table-bordered" cellpadding="0" cellspacing="18" style="text-align: center">
                <tbody>
                    @for (int i = 0; i < Math.Sqrt(ViewBag.puzzle.Length); i++)
                    {
                        <tr>
                            @for (int j = 0; j < Math.Sqrt(ViewBag.puzzle.Length); j++)
                        {
                                <td>
                                    @ViewBag.puzzle[i, j]
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

            <table class="table table-bordered" cellpadding="0" cellspacing="18" style="text-align: center">
                <tbody>
                    @for (int i = 0; i < Math.Sqrt(ViewBag.Answer.Length); i++)
                    {
                        <tr>
                            @for (int j = 0; j < Math.Sqrt(ViewBag.Answer.Length); j++)
                        {
                                <td>
                                    @ViewBag.Answer[i, j]
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        <p>Words are placed in up, down, left and right directions</p>
        <p><a href="https://gitlab.com/Moravej/PuzzleGenerator">View source Code on Gitlab</a></p>
        }
    </div>
}